*{
    margin: 0;
    padding: 0;
}

.bdy{
    display: flex;
    background-color: #657a95; 
    align-items: center; 
    justify-content: center; 
    height: 100vh; 
    font-family :Arial, sans-serif;
} 

.content{
    width: 380px;
    height: 540px;
    border-radius: 50px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: 0.5s;
    background-color: white;
    overflow: hidden;
}

.content:hover{
    opacity: 1;
    transform: scale(1.1);
}

.profile{
    width: 100%;
    height: 40%;
    border-radius: 50px 50px  100% 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #4737a5;

}

.img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.name{
    letter-spacing: 2px;
    margin-top: 30px;
    font-size: 24px;
}

.login{
    color: #595959;
    font-size: 12px;
}

.social{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 30px;
    font-size: 20px;

}

.social li{
    list-style: none;
}

.social li a{   
    transition: 0.5s;
    text-decoration: none;
}

.social li a:hover{
    transform: scale(1.6);
    opacity: 0.8;
}

.description{
    margin-top: 20px;
    font-size: 16px;
    text-align: center;
    padding: 0 20px;
    color: #000000;
}

.btn{
    width : 100%;
    padding: 10px;
    border: none;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
}

.button{
    width: 40%;
    height: 40px;
    border: none;
    padding: 10px;
    border-radius: 50px;
    background-color: white;
    color : rgb(152, 152, 152);
}

.follow-btn{
    background-color: #373ea5;
    color: white;
}

.message-btn{
    background-color: #ffffff;
    color: #595959;
    border-radius: 50px;
    border: 1px solid #595959;
}

@media (max-width: 500px) {

    .bdy{
        background-color: white;
    }
}